<div class="row mt-3">
    <div class="col-lg-8" style="height: 300px;">
        <img src="https://www.simplyrecipes.com/thmb/B2xgUqQY1pmOvddwlTSHEjyRD8A=/1200x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__09__Grilled-Cheese-Peppers-LEAD-1-e1775b583aaa40949ebe5ec5e4edc43b.jpg" class="img-fluid" alt="Sandwhich">
    </div>
    <div class="row col-lg-4 recipeContainer">
        {{#each recipes as |recipe|}}

        <div class=" recipeCard m-1" style="width: 10rem;">
            <a class="text-danger" href="api/recipes/{{recipe.id}}">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzt5kOhWe6P4_OOIvoNIIRkc8qWAHG2-nhDuBa2pmkLaOfL8KwtjaiIfzqzd1dNbfm564&usqp=CAU"
                class="card-img-top" alt="{{recipe.name}}">
                <h6 class="card-title">{{recipe.name}}</h6>
            </a>
        </div>
        {{/each}}
    </div>
</div>