<div>
    <h1 style="text-align: center;">Welcome to Your Profile</h1>
    <p style="text-align: center;">Here are the recipes you have created: </p>
</div>
<div>
    {{#each recipes as |recipe|}}
    <div class="card recipeCard">
            <a href="api/recipes/{{recipe.id}}">{{recipe.name}}</a>
    </div>
    {{/each}}
</div>