
<div class="d-flex">
   <form id="recipe-form">
    <h1>Recipe Builder</h1>
    <div class="mb-3">
        <label for="exampleRecipeName" class="form-label">Name</label>
        <input type="text" class="form-control" id="exampleRecipe" aria-describedby="recipeHelp">
        <div id="recipeHelp" class="form-text">Please enter the name of your recipe.</div>
    </div>
    <div class="mb-3">
        <label for="exampleDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="exampleDescription" aria-describedby="descriptionHelp">
        <div id="descritpionHelp" class="form-text">Please describe your recipe.</div>
    </div>
    <div class="mb-3">
        <label for="ingredientList" class="form-label">Password</label>
        <input type="text" class="form-control" id="ingredientList" aria-describedby="ingredientHelp">
        <div id="ingredientHelp" class="form-text">Please type your ingredients in as a comma-separated list.</div>
    </div>

    <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>

</form> 
</div>

<script src="./js/recipeBuilder.js"></script>