<div class="mx-auto" style="max-width: 30rem;">
    <h1 class="mx-auto" style="width: 15rem;">Sign Up</h1>
    <form id="signup-form">
        <div class="mb-3">
            <p>Username</p>
            <input type="text" class="form-control border border-danger" id="exampleNameEmail1">
        </div>
        <div class="mb-3">
            <p>Email Address</p>
            <input type="email" class="form-control border border-danger" id="emailHelp">
            <div class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <p>Password</p>
            <input type="password" class="form-control border border-danger" id="exampleInputPassword1">
            <div class="form-text">Minimum of 8 characters</div>
        </div>

        <button id="signup-btn" type="submit" class="btn btn-danger btn-lg">Submit</button>

        <p>Already have an account? <a class="text-danger" href="/login">login here</a></p>
    </form>
</div>

<script src="js/signup.js"></script>