a:hover {
    text-decoration: underline;
}

.customBorder {
    margin-top: 3rem;
    border-top: 3px red solid;
}

.footerList {
    list-style-type: none;
}

.footerList a {
    font-weight: bold;
}

.recipe-builder {
    height: 40px;
    border-radius: 7px;
}

.plate{
    cursor:pointer;
}

.recipeCard:hover{
    transform: translate(-2px,-2px);
    box-shadow: 5px 5px 0 red;
}
.recipeContainer{
    height: 500px;
    overflow: auto;
}

#greens,
#chickenWing {
    transition: all 1s ease;
}

#greens{
    transform: translateX(-100%);
}

#chickenWing{
    transform: translateY(-100%);
}

.plate:hover #greens{
    transform: translateX(0%)
}
.plate:hover #chickenWing {
    transition-delay: 300ms;
    transform: translateY(0%)
}


.plate{
    cursor:pointer;
}


.recipeName {
    font-family: serif;
}

.recipeD{
    font-family: sans-serif;
    color: grey;
}

.recipeUser{
    font-weight: bold;
}

