.recipe-builder {
    height: 40px;
    border-radius: 7px;
}

.plate{
    cursor:pointer;
}

#greens,
#chickenWing {
    transition: all 1s ease;
}

#greens{
    transform: translateX(-100%);
}

#chickenWing{
    transform: translateY(-100%);
}

.plate:hover #greens{
    transform: translateX(0%)
}
.plate:hover #chickenWing {
    transition-delay: 300ms;
    transform: translateY(0%)
}
